{% assign menu = section.settings.menu %}

<header>
  <ul class="header__links">
    {% for link in menu.links %}
      <li class="header__link-item">
        <a href="{{ link.url }}">{{ link.title }}</a>

        {% for block in section.blocks %}
          {% if block.settings.menu_item_title == link.title %}
            {% case block.type %}
              {% when 'mega_menu_shop' %}
                <div class="mega-menu mega-menu--shop">
                  <p>Shop Mega Menu Block: {{ block.settings.number }}</p>
                </div>

              {% when 'mega_menu_about' %}
                <div class="mega-menu mega-menu--about">
                  <p>
                    About URL: <a href="{{ block.settings.url }}">{{ block.settings.url }}</a>
                  </p>
                </div>
            {% endcase %}
          {% endif %}
        {% endfor %}
      </li>
    {% endfor %}
  </ul>

  <a href="{{ routes.root_url }}" class="header__logo">
    {% if section.settings.logo != blank %}
      <img
        src="{{ section.settings.logo |  image_url: width: 280 }}"
        alt="{{ section.settings.company_name }} Logo"
        width="280"
        height="auto"
      >
      {% else %}
       <h2>{{ section.settings.company_name }}</h2> 
    {% endif %}
  </a>

  <div class="header__options">
    {% if shop.customer_accounts_enabled %}
      {{ 'icon-account.svg' | inline_asset_content | link_to: routes.account_url }}
    {% endif %}

    <a href="{{ routes.cart_url }}">
      {% if cart.item_count > 0 %}
        <sup>{{ cart.item_count }}</sup>
      {% endif %}

      {{ 'icon-cart.svg' | inline_asset_content }}
    </a>
  </div>
</header>

{% stylesheet %}
  .block__shop {
    height: 400px;
    width: 100%;
  }

  header {
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
  }

  .header__links,
  .header__options{
    position: absolute;
  }

  .header__links{
    left: 0;
  }

  .header__options{
    right: 0;
  }

  .header__links {
    display: flex;
    list-style: none;
    gap: 2rem;
  }

  .header__logo{
    max-width: 140px;
    color: #fff;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "text",
      "id": "company_name",
      "label": "Company Name",
      "info": "Enter this as a fallback incase the logo image does not loads correctly"
    },
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ],
  "blocks": [
    {
      "type": "mega_menu_shop",
      "name": "Mega Menu — Shop",
      "settings": [
        {
          "type": "text",
          "id": "menu_item_title",
          "label": "Nav Link"
        },
        {
          "type": "number",
          "id": "number",
          "label": "Some Number"
        }
      ]
    },
    {
      "type": "mega_menu_about",
      "name": "Mega Menu — About",
      "settings": [
        {
          "type": "text",
          "id": "menu_item_title",
          "label": "Nav Link"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Some URL"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Default header",
      "blocks": []
    }
  ]
}
{% endschema %}
